body {
    min-height: 100vh;
    margin: 0;
    background: url(./assets/images/pokemon-background-mainmenu.webp) center/cover no-repeat;
}

main {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startBtn {
    position: fixed;
    background: black;
    color: white;
    font-size: 30px;
}

#startBtn:hover {
    background:  #3559B9;
    color:#FFCC00; 
}

#char {
    height: 100px;
    position: absolute;
    right: 80px;
    bottom: 350px;
}

#squirt {
    height: 100px;
    position: absolute;
    right: 80px;
    bottom: 350px;
}

#bulba {
    height: 100px;
    position: absolute;
    right: 80px;
    bottom: 350px;
}

#pokeSel {
    background-color: white;
    width: 100%;
    height: 300px;
    text-align: center;
    overflow: visible;
}   

#pokeSel img {
    width: 130px;
    justify-content: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    body {
        background-position: -470px ;
    }
}

#player {
    height: 200px; 
    position: absolute;
    bottom: 10px;
    left: 10px;
}