body {
    min-height: 100vh;
    margin: 0;
    background: url(./assets/images/pokemon-background-mainmenu.webp) center/cover no-repeat;
}

main {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startBtn {
    position: fixed;
    background: black;
    color: white;
    font-size: 30px;
}

#startBtn:hover {
    background:  #3559B9;
    color:#FFCC00; 
}

#char {
    height: 100px;
    position: absolute;
    right: 80px;
    bottom: 350px;
}

#squirt {
    height: 100px;
    position: absolute;
    right: 80px;
    bottom: 350px;
}

#bulba {
    height: 100px;
    position: absolute;
    right: 80px;
    bottom: 350px;
}

#pokeSel {
    background-color: white;
    width: 100%;
    height: 300px;
    text-align: center;
    overflow: visible;
}   

#pokeSel img {
    width: 130px;
    justify-content: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    body {
        background-position: -470px ;
    }
}

#player {
    height: 210px; 
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#batWind {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    background-color: white;
    width: 200px;
    height: 300px;
    bottom: 0; 
    right: 0;
    position: absolute;
}

@media screen and (min-width: 600px) {
    #batWind {
        width: 300px ;
    }
    #squirt, #char, #bulba {
        right: 120px;
    }
}

@media screen and (min-width: 800px) {
    #batWind {
        width: 400px ;
    }
    #player {
        position: absolute;
        left: 70px;
    }
    #squirt, #char, #bulba {
        right: 180px;
    }
}

@media screen and (min-width: 1000px) {
    #batWind {
        width: 550px ;
    }
    #player {
        position: absolute;
        left: 120px;
    }
    #squirt, #char, #bulba {
        right: 230px;
    }
}

@media screen and (min-width: 1200px) {
    #batWind{
        width: 700px;
    }
    #player {
        position: absolute;
        left: 250px;
    }
    #squirt, #char, #bulba {
        right: 290px;
    }
}

@media screen and (min-width: 1400px) {
    #squirt, #char, #bulba {
        right: 365px;
    }
}

#bat-Btn, #bagBtn, #pokemon, #runBtn, #attackbtn {
    display: block;
    width: 100%;
    height: 100%;
    font-size: x-large;
    /*background:  #3559B9;
    color:#FFCC00; */
}

#text {
    background-color: white;
    width: 100%;
    height: 50px;
    overflow: visible;
    text-align: center;
    font-size: x-large;
    vertical-align: middle;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
}