body {
    min-height: 100vh;
    margin: 0;
    background: url(./assets/images/pokemon-background-mainmenu.webp) center/cover no-repeat;
}

main {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startBtn {
    position: fixed;
    background: black;
    color: white;
    font-size: 30px;
}

#startBtn:hover {
    background:  #3559B9;
    color:#FFCC00; 
}

#bulba {
    height: 100px;
    position: absolute;
    right: 180px;
    bottom: 350px;
}

#pokeSel {
    background-color: white;
    width: 1200px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: visible;
}   

#pokeSel img {
    width: 130px
}